html {
    margin: 0;
    padding: 0;
}

* {
    background-color: #1d3b4d;
    margin: 0;
    padding: 0;
    outline: none;
}

.img {
 width: 100%;
 height: 150px;
 margin-left: 0;
 margin-right: 0;
 background-color: #1d3b4d;
 padding: 0px;
 align-self: center;
 object-fit: cover;

}

.logo {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    background-color: #1d3b4d;


}

.form-group {
    background-color: #1d3b4d;
    color: #e6f2f8;
    padding: 0;
    margin-bottom: 0;
    max-width: 70%;
}
.form-control {
    margin-left: 20%;
}

.words {
    margin-left: 20%;
}
.btn-primary {
    margin-left: 45%;
    margin-top: 15px;
}

#email-help {
    margin: 0;
}

.new-sign-in {
    color: white;
    margin-left: 15%;
}
a .sign-up {
    color: #e6f2f8;
}