* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 105px;
    display: flex;
    background-color: #1d3b4d;
    align-items: center;
    padding: 0;
  width: 100%;
  justify-content:space-around;
}
.card-text {
  margin: 15px;
}
.taskNameJs {
  font-size: 1.5rem;
}
.nav-link {
  display: block;
  color: #e6f2f8;
}
.wrap {
    display: flex;
    width: 100%;
    height: 85px;
    justify-content: space-around;
    align-items: center;
}
 /* Top of page */
img {
    height: 80px;
    width: 80px;
}
.selectpicker {
  height: 30px;
  margin-left: 10px;
  color: white;
  background-color: #1d3b4d;
  margin-top: 7px;
  border: none;
}

.fa-user-circle {
    color: #e6f2f8;
}

.card {
    margin-top: 0px;
    margin-bottom: 10px;
}

 .assigned-to {
        text-align: right;
        padding-right: 5%;
        margin-bottom: 0;
    }
    .assignTo {
      margin-top: 15px;
      margin-bottom: 10px;
    }
    .taskDes {
      margin-top: 15px;
    }
    .radio-btns {
      margin: 5px;
    }
    #wireframe {
      margin-top: 2rem;
  }

  .des {
    margin-top: 50px;
  }

  #list-items {
margin-top: 35px;
margin-bottom: 0;
  }

  @media screen and (max-width: 390px) {
    .wrap {
        height: 70px;
    }
  .navbar {
    height: 150px;
  }
    .nav-pill {
      margin-top: 5px;
      height: 80px;
      font-size: 0.75rem;
      width: 80%;
      padding-bottom: 2px;
      align-content: space-around;
    }
    #todaysDate {
      position: absolute;
      margin-top: 90px;
      margin-left: 55%;
      font-size: 0.6rem;
    }
  }

@media screen and (min-width: 768px) {

  .nav-pill {
    margin-top: 10px;
  }

  #todaysDate {
    position: absolute;
    margin-top: 45px;
    margin-left: 63%;
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 1000px) {

  .nav-pill {
    margin-top: 10px;
  }

  #todaysDate {
    position: absolute;
    margin-top: 40px;
    margin-left: 60%;
    font-size: 0.6rem;
  }
}

  .newTask {
    width: 60%;
    margin: 20px auto;
    border: 2px solid gray;
    text-align: center;
    padding: 20px;

}


.taskForm{
   border: gray solid 2px; 
}


  .taskStatus {
    text-align: center;
  }

.radio {
  margin: 10px;
}

.btn {
  margin: 10px;
}

.done {
  background-color: green !important;
}

